<p>chess works!</p>

<button (click)="beginGame()" *ngIf="!gameBegun">Start chess game</button>

<div id="grid" #myBounds class="grid-container" >
    <div class="grid-item" *ngFor="let coordinate of coordinates" id="{{coordinate}}" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
</div>

<div id="chessPieceBox">
  <div *ngFor="let piece of pieces" id="{{piece.id}}" draggable="true" (dragstart)="drag($event)">
  <fa-icon class="{{piece.getColor()}}" [icon]="piece.getImage()" size="2x"></fa-icon>
  </div>
</div>
